<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
        {{>header}}
    <h2>{{about}}</h2>
    <img src="./img/car.jpg" alt="car image" height="200px" width="200px">
    <p>This is about section and this website shows weather report</p>
</body>
<footer>{{>footer}}</footer>
</html>